get '/form' do
erb :form
end

post ('/convert') do
fahrenheit = params ['temperature'].to_f
celsius = (fahrenheit - 32) / 1.8
format ("%0.1f degrees Fahrenheit is %0.1f degrees Celsius.", fahrenheit, celsius)
end

<!DOCTYPE html>
<html>
  <body>
    <form method="post" action="/convert">
      <label for="temperature">Degrees Farenheit:</label>
      <input type="text" name="temperature">
      <input type="submit">
    </form>
  </body>
</html>